.id-card {
    width: 323px;
    height: 204px;
    position: relative;
    background: white;
}

.background-box {
    width: 75px;
    height: 78px;
    left: -5px;
    top: 18px;
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%);
}

.logo {
    width: 45px;
    left: -7px;
    height: 45px;
    top: 7px;
    position: absolute;
    opacity: 50%;
}

.code, .regarding, .name {
    width: 68px;
    position: absolute;
    text-align: center;
    color: #040404;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
}

.code {
    height: 4px;
    left: 1px;
    top: 11px;
    font-size: 4px;
}

.regarding {
    height: 8px;
    left: 1px;
    top: 15px;
    font-size: 4px;
    font-style: italic;
}

.name {
    top: 73px;
    font-size: 4px;
}

.restricted-box {
    width: 69px;
    height: 30px;
    top: 84px;
    position: absolute;
    background: #188DA3;
}

.barcode-background {
    width: 20px;
    height: 20px;
    left: 50px;
    top: 84px;
    position: absolute;
    background: #E9E7E8;
}

.barcode {
    width: 20px;
    height: 20px;
    left: 50px;
    top: 84px;
    position: absolute;
}

.validity, .validity-dates {
    width: 49px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-size: 2px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
}

.validity {
    top: 87px;
}

.validity-dates {
    top: 93px;
}

.highlight {
    width: 69px;
    height: 6px;
    top: 106px;
    position: absolute;
    background: #F2ED6C;
}

.access-restricted {
    left: 5px;
    top: 106px;
    position: absolute;
    text-align: center;
    color: #FF0000;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 6px;
    word-wrap: break-word;
}

.footer {
    left: 18px;
    top: 112px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    word-wrap: break-word;
}

.photo-box {
    width: 35px;
    height: 49px;
    left: 17px;
    top: 31px;
    position: absolute;
    border-radius: 5px;
    background: #0A6B7D;
    border-radius: 3px;
    border: 2px #000000 solid;
}

.photo-background {
    width: 35px;
    height: 49px;
    border-radius: 2px;
    position: absolute;
}

.small-logo {
    width: 15px;
    height: 11px;
    left: 49px;
    top: 1px;
    position: absolute;
}
